<a href="https://colab.research.google.com/github/flizzer/PythonDataScienceHandbook/blob/main/PythonDataScinceHandbookExperimentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

## Pandas...

In [3]:
data = pd.Series([0.25,0.5,0.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
data[2:4]

2    0.75
3    1.00
dtype: float64

In [7]:
data[::3]

0    0.25
3    1.00
dtype: float64

In [8]:
index = pd.Index([1,2,3,4,5])

In [9]:
index

Int64Index([1, 2, 3, 4, 5], dtype='int64')

In [10]:
index[0] = 10

TypeError: ignored

In [11]:
data = pd.Series([0.25,0.5,0.75,1.0],
                 index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [12]:
'e' in data

False

In [13]:
'c' in data

True

In [14]:
0.25 in data

False

In [15]:
.25 in data

False

In [16]:
data['b']

0.5

In [21]:
data.items

<bound method Series.items of a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64>

In [19]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [23]:
data[data > .75]

d    1.0
dtype: float64

#### Implicit indexing doesn't include the last element:

In [27]:
data[0:2]

a    0.25
b    0.50
dtype: float64

#### Explicit indexing *DOES* include the last element:

In [25]:
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

### Indexer attributes...use these to be explicit about how you're referecing an object's indices.  It helps make your code cleaner.

In [35]:
data_new = pd.Series(['a','b','c'], index=[1,3,5])
data_new

1    a
3    b
5    c
dtype: object

#### `loc` always used the explicit index:

In [37]:
data_new.loc[1]

'a'

#### `iloc` always uses the implicit index:

In [39]:
data_new.iloc[1]

'b'

### Dataframes

In [48]:
area = pd.Series({'California':423967,'Texas':695662,'New York':141297,'Florida':170312,'Illinois':149995})
pop = pd.Series({'California':38332521,'Texas':26448193,'New York':19651127,'Florida':19552860,'Illinois':12882135})
df = pd.DataFrame({'area':area,'pop':pop})
df

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

#### Dictionary-style indexing...

In [49]:
df['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

#### Attribute-style indexing...

In [53]:
df.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [54]:
df.area is df['area']

True

In [55]:
df.pop is df['pop'] #False because the former references a method named pop

False

#### For assignments, its best to use dictionary-style indexing:  (i.e: data['pop'] = z instead of data.pop = z).  Also can be used to add a new column:

In [56]:
df['density'] = df['pop'] / data['area']
df

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [58]:
df.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [59]:
df.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

#### Our friends the index attributes also work with dataframes...

In [60]:
df.iloc[:3,:2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [62]:
df.loc[:'Illinois',:'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

#### NumPy-style access is allowed using any of the index attributes as well...

In [64]:
df.loc[df.density > 100, ['pop','density']]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

In [65]:
df.iloc[0,2] = 90
df

              area       pop     density
California  423967  38332521   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

#### Clarification:  *Indexing* refers to Columns, *Slicing* refers to Rows

In [68]:
df['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [66]:
df['Florida':'Illinois']

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

##### Masking operations are interpreted row-wise

In [69]:
df[df.density > 100]

            area       pop     density
New York  141297  19651127  139.076746
Florida   170312  19552860  114.806121